<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.username %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>


  <h1>My Repositories</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="0.5"></th>
        <th>Owner</th>
        <th colspan="1"></th>
      </tr>
  
  
  
    </thead>
  
    <tbody>
      <% current_user.repositories.each do |repository| %>
        <tr>
          <td><%= repository.name %></td>
          <td><%= current_user.username %></td>
          <td><%= link_to 'Show', repository %></td>
          <td><%= link_to 'Edit', edit_repository_path(repository) %></td>
          <td><%= link_to 'Destroy', repository, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
  
  <br>
  
  <font size="3"><%= link_to 'New Repository', new_repository_path %></font>
  <p></p>
  <font size="3"><%= link_to 'My Issues', issues_path %></font>
  <p></p>
  <font size="3"><%= link_to 'Homepage', root_path %></font>
  

 
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
