<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
        <% issue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>


  <%= form.label :repository_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.select :repository_id, current_user.repositories.pluck(:name, :id), {}, class: "form-control" %>
    </div>
 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
