<p id="notice"><%= notice %></p>

<h1>My Issues</h1>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.username %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>

  <table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Text</th>
      <th>Author</th>
      <th>Repository</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.subject %></td>
        <td><%= issue.text %></td>
        <td><%= issue.user.username %></td>
        <td><%= issue.repository.name %></td>
        <td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<font size="3"><%= link_to 'New Issue', new_issue_path %></font>
<p></p>
<font size="3"><%= link_to 'My Repositories', repositories_path %></font>
<p></p>
<font size="3"><%= link_to 'Homepage', root_path %></font>
 
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

