<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @issue.subject %>
</p>

<p>
  <strong>Text:</strong>
  <%= @issue.text %>
</p>

<p>
  <strong>Author:</strong>
  <%= @issue.user.username %>
</p>

<p>
  <strong>Repository ID:</strong>
  <%= @issue.repository_id %>
</p>

<p>
  <strong>Repository Name:</strong>
  <%= @issue.repository.name %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>


