<h1>Welcome to MuniHub!</h1>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.username %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>

  <p></p>

  <font size="5"><%= link_to 'Go To My Repositories', repositories_path, :class => 'navbar-link' %></font>
  <p></p>
  <font size="5"><%= link_to 'Go To My Issues', issues_path, :class => 'navbar-link' %></font>

 
<% else %>
  
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>

  

<% end %>